<p><input placeholder="name" type="text" id="name" name="name" #name /></p>
<p><input placeholder="image url" type="url" id="img" name="img" #img /></p>
<input type="checkbox" id="owned" name="owned" value="owned" #owned />
<label for="owned">owned</label>
<input type="checkbox" id="wanted" name="wanted" value="wanted" #wanted />
<label for="wanted">wanted</label>
<input
  type="checkbox"
  id="looksNice"
  name="looksNice"
  value="looks cool"
  #looksNice
/>
<label for="looksNice">looks nice</label>
<p>
  <input
    placeholder="description"
    type="text"
    id="desc"
    name="description"
    #desc
  />
</p>

<button
  (click)="
    addParrot({
      name: name.value,
      img: img.value,
      desc: desc.value,
      options: [owned.value, wanted.value, looksNice.value]
    })
  "
>
  add parrot
</button>

<div class="parrots" *ngIf="parrots.length">
  <div class="parrot" *ngFor="let parrot of parrots">
    <h1>{{ parrot.name }}</h1>
    <img src="{{ parrot.img }}" />
    <p>{{ parrot.desc }}</p>
    <div *ngFor="let option of parrot.options">
      <!-- *ngIf="option" -->
      <button
        [ngClass]="{
          owned: option == 'owned',
          wanted: option == 'wanted',
          'looks-nice': option == 'looks cool'
        }"
        disabled
      >
        {{ option }}
      </button>
    </div>
    <button (click)="delete(parrot.name)">delete</button>
  </div>
</div>
