<p><input placeholder="name" type="text" id="name" name="name" #name /></p>
<p><input placeholder="image url" type="url" id="img" name="img" #img /></p>
<input type="checkbox" id="owned" name="owned" value="owned" #owned />
<label for="owned">owned</label>
<input type="checkbox" id="wanted" name="wanted" value="wanted" #wanted />
<label for="wanted">wanted</label>
<input
  type="checkbox"
  id="looksNice"
  name="looksNice"
  value="looks cool"
  #looksNice
/>
<label for="looksNice">looks nice</label>
<p>
  <input
    placeholder="description"
    type="text"
    id="desc"
    name="description"
    #desc
  />
</p>

<button
  (click)="
    addParrot({
      name: name.value,
      img: img.value,
      desc: desc.value,
      options: [
        [owned.value, owned.checked],
        [wanted.value, wanted.checked],
        [looksNice.value, looksNice.checked]
      ]
    })
  "
>
  add parrot
</button>

<div class="parrots" *ngIf="parrots.length">
  <div class="parrot" *ngFor="let parrot of parrots">
    <h1>{{ parrot.name }}</h1>
    <img src="{{ parrot.img }}" />
    <p>{{ parrot.desc }}</p>
    <div *ngFor="let option of parrot.options">
      <button
        *ngIf="option[1]"
        [ngClass]="{
          owned: option[0] == 'owned' && option[1],
          wanted: option[0] == 'wanted' && option[1],
          'looks-nice': option[0] == 'looks cool' && option[1]
        }"
        disabled
      >
        {{ option[0] }}
      </button>
    </div>
    <button (click)="delete(parrot.name)">delete</button>
  </div>
</div>
